<div id="cover">
      <form method="get">
        <div class="tb">
          <div class="td">
            <input type="text" placeholder="Search" name="query" required></div>
          <div class="td" id="s-cover">
            <button phx-click="search" >
              <div id="s-circle"></div>
              <span></span>
            </button>
          </div>
        </div>
      </form>
    </div>

<div>
    Streams: <%= @streams_count %>
</div>